{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "printWidth": 80,
    "tabWidth": 2,
    "parser": "typescript"
  }
  